In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('Train.csv')
df.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [4]:
df.isnull().sum()

feature_1    0
feature_2    0
feature_3    0
feature_4    0
feature_5    0
target       0
dtype: int64

In [11]:
df.describe()

,feature_1,feature_2,feature_3,feature_4,feature_5,target
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,0.004114,-0.027604,-0.044459,-0.042408,0.012005,0.318835
std,0.997338,1.021776,1.011768,1.017189,0.978654,110.741562
min,-3.380125,-3.314844,-3.153118,-3.250169,-2.851707,-379.829794
25%,-0.647165,-0.705030,-0.706385,-0.709504,-0.615880,-71.897040
50%,-0.000360,-0.043769,-0.041272,-0.029756,-0.013527,-0.610665
75%,0.682118,0.645442,0.639130,0.646290,0.650089,71.226603
max,3.287205,3.438895,3.216176,2.985410,3.321770,337.643014

In [9]:
X = df.drop(columns=['target']).values
y = df['target'].values

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.20)
print('X_train shape ',X_train.shape,' y_train shape ',y_train.shape)

X_train shape  (1280, 5)  y_train shape  (1280,)

In [99]:
#all the input seems fine 
#Linear Regression
from sklearn.linear_model import LinearRegression
reg1 = LinearRegression()
reg1.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [100]:
y_predict = reg1.predict(X_test)

In [101]:
from sklearn.metrics import mean_squared_error
print('root mean error is :',mean_squared_error(y_test,y_predict)**0.5)

root mean error is : 20.415146883335883

In [22]:
#Decision Tree
from sklearn.tree import DecisionTreeRegressor
reg2 = DecisionTreeRegressor()
reg2.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [23]:
y_predict2 = reg2.predict(X_test)

In [24]:
print('root mean error is :',mean_squared_error(y_test,y_predict2)**0.5)

root mean error is : 39.78759467541488

In [60]:
#Ensemble
from sklearn.ensemble import RandomForestRegressor
reg3 = RandomForestRegressor(n_estimators=10)
reg3.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [61]:
y_predict3 = reg3.predict(X_test)

In [62]:
print('root mean error is :',mean_squared_error(y_test,y_predict3)**0.5)

root mean error is : 27.05683965329556

In [96]:
#SCR
from sklearn.svm import SVR
svr = SVR(kernel='poly',degree=1)
svr.fit(X_train,y_train)

C:\Users\abhis\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=1, epsilon=0.1,
    gamma='auto_deprecated', kernel='poly', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [97]:
y_predict4 = svr.predict(X_test)

In [98]:
print('root mean error is :',mean_squared_error(y_test,y_predict4)**0.5)

root mean error is : 22.806925139531483

In [102]:
#Therefore linear model will be the best fit for this

In [103]:
df_test = pd.read_csv('Test.csv')
df_test.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [106]:
test = df_test.iloc[:,:].values
test

array([[ 1.01525387e+00,  2.07620944e+00, -2.66434820e-01,
        -2.41808820e+00, -9.80502790e-01],
       [-3.75021204e-01,  9.53184528e-01,  6.26719138e-01,
         7.04405750e-01, -3.55489211e-01],
       [-1.02445225e+00,  9.62991107e-01, -4.07942004e-01,
        -1.86127383e+00,  4.55201351e-01],
       ...,
       [ 5.54727647e-01,  1.76824345e+00, -8.97787210e-01,
        -1.19366107e+00,  3.40563374e-01],
       [-1.62717246e+00,  8.56470994e-01, -5.65729519e-04,
         6.29386649e-01,  4.53382144e-01],
       [ 1.39310499e-01,  5.31597186e-01, -8.53107053e-01,
         3.16920076e-02,  1.71489304e+00]])

In [107]:
prediction = reg1.predict(test)

In [108]:
prediction

array([ 1.16252844e+02,  1.17826744e+02, -2.17144502e+01, -4.52525000e+01,
       -9.55650957e+01, -4.34146478e+01, -7.66092785e+01,  2.31179883e+01,
        1.73672931e+02,  1.73551415e+02, -1.05644930e+02, -2.09852520e+01,
       -4.15146672e+00,  1.23969383e+02,  4.17710665e+01,  4.53595577e+01,
       -1.87914414e+02,  2.38403428e+01,  1.06691480e+01,  1.38057831e+02,
        6.48980214e+01, -6.19360459e+01, -1.08621182e+02, -6.62887692e+00,
       -5.93751083e+01,  1.17473049e+01,  3.06077529e+01,  1.07649969e+02,
        2.51689222e+01, -2.66722077e+01,  1.11787388e+02, -4.48267575e+01,
        2.16912969e+02, -1.26044269e+01, -2.28859085e+02,  1.55200135e+02,
       -8.92946616e-02,  1.24981091e+01, -3.09664912e+02,  7.80467400e+01,
       -8.07286757e+01, -2.07266708e+02, -2.38762697e+02,  1.34754929e+02,
       -7.48365331e+01,  1.07599377e+02, -3.31093200e+00,  2.12567105e+01,
       -9.75192858e+01, -2.70689555e+01,  1.03318276e+01, -1.74040407e+02,
        6.60167704e+01, -9.65051576e+01, -1.06875201e+02, -1.55121173e+02,
        6.15773323e+01,  1.09578395e+02, -7.48465544e+01,  4.04598665e+01,
        4.18174938e+01, -5.02693494e+01,  1.65462669e+02,  4.53618064e+01,
        5.78372259e+01,  2.39424707e+01,  8.22856726e+01, -1.47703072e+00,
       -2.48311635e+00,  2.11818716e+00, -2.50105933e+01,  1.62146840e+02,
       -4.09657893e+01,  2.12601638e+01, -6.60148457e+01, -6.78493769e+01,
        3.73511610e+01, -1.59861015e+02, -1.51835027e+00,  1.51112611e+02,
       -3.77638989e+01, -1.19866899e+02, -1.95384875e+02,  3.57327236e+01,
        1.47216589e+02,  2.71739993e+02, -2.56905477e+02, -8.74452623e+01,
        7.49558535e+01, -9.00653257e+01, -4.97711681e+01,  1.26687801e+02,
       -1.64579187e+02, -1.17074601e+02,  4.81505653e+01,  9.77638003e+01,
       -2.15277421e+02, -1.21434536e+02, -1.71753476e+02, -5.03576027e+01,
        1.27789832e+02, -8.36779457e+01, -3.83086162e+00, -2.25706095e+00,
        1.68020314e-01,  8.18868623e+01,  4.48859896e+01,  9.31540471e+01,
       -3.13948546e+01, -8.42383484e+01,  3.67761954e+01,  1.76362676e+01,
        1.18409587e+02,  7.42926602e+00,  7.37900989e+01,  3.27240165e+01,
       -1.41434795e+02,  8.33501568e+00,  2.03447400e+01, -2.32043616e+01,
       -2.20370068e+01, -2.55128297e+02,  2.68252272e+02,  1.53285078e+02,
        1.30086860e+01,  8.33836008e+01, -1.32221702e+01, -1.53946915e+02,
        1.13138263e+02, -3.18294449e+01, -2.15731337e+02,  1.21797995e+02,
       -3.07055766e+01, -8.58989576e+01,  1.70978103e+02,  4.08949167e+01,
       -1.93372364e+01,  6.40368052e+01,  4.68252362e+01, -1.75558291e+02,
        1.29590811e+02, -7.38135066e+01,  2.13285330e+02,  1.35535041e+02,
       -7.50395911e-01, -1.54718003e+02, -1.59781286e+01,  1.34076560e+02,
        3.63689112e+01,  5.78451123e+01, -3.56544148e+00, -4.32476564e+01,
        1.84181401e+01, -7.14673514e+01,  2.78553862e+01,  1.41743824e+02,
        3.47434977e+02,  2.16780788e+02,  2.84432046e+01, -3.71023026e+01,
       -1.71147496e+02,  1.35288567e+01,  2.99746120e+02,  7.67386594e+01,
       -2.15017453e+01,  1.55167318e+02, -1.55782889e+02,  1.40324696e+02,
        1.71728046e+02, -4.58356008e+01,  6.61261840e+01,  9.78273276e+01,
        9.53587914e+01,  3.16935644e+01,  1.75336702e+02, -1.51780511e+02,
       -9.50735427e+01, -1.71450291e+02, -1.84262769e+01, -1.08244552e+02,
       -1.51458401e+01, -5.97102570e+01, -7.55204783e+01,  6.87630704e+01,
       -6.89654818e+01,  8.85093908e+01, -5.82147580e+01, -1.10822804e+02,
       -7.83134837e+01,  1.85881553e+02, -4.13512541e+01,  2.19963632e+02,
       -5.55255186e+01, -8.41703741e+01,  4.66477619e+01,  2.12895090e+00,
        7.14407734e+01, -6.16634518e+01,  2.10238298e+02, -1.37936394e+02,
       -9.54442186e+01, -1.15134492e+02,  2.46005222e+01,  5.50183948e+01,
        1.51658240e+02,  4.86055282e+01,  9.07132813e+01,  1.73593957e+02,
       -2.70418716e+02, -1.74167689e+02, -1.05415625e+02, -8.25583172e+01,
        2.85327098e+01, -4.92683650e+01,  7.87170716e+01, -1.96564127e+01,
       -5.23644440e+01, -2.91401222e+01,  6.67389949e+01,  9.24286515e+01,
       -8.17352812e+01, -1.48487270e+02,  5.07436707e+01,  2.38106532e+02,
       -4.75217690e+01,  1.59226807e+01, -6.06826010e+01,  1.37919727e+01,
        1.04658530e+01,  3.84444693e+01,  1.15008699e+02,  1.92441189e+01,
       -1.08715964e+02,  4.61358432e+01,  9.94014496e+01, -8.84504316e+01,
       -1.76824787e+02,  1.70339020e+02,  1.09234194e+02,  6.46942239e+01,
       -9.20067177e+00, -2.43624027e+01, -4.79761230e+01, -1.71270206e+02,
       -6.49778369e+01, -2.73804509e+01, -1.71339506e+02, -2.94138996e+01,
        3.46982048e+01, -1.22947336e+02,  1.66504227e+01,  1.33904165e-02,
       -2.53630199e+02, -2.55088992e+02, -1.65992820e+02,  4.84256367e+01,
        1.30889689e+02,  7.18477213e+01,  1.19004533e+02,  9.47587025e+01,
        2.19158306e+01, -3.05574174e+02,  1.87077825e+02, -1.29958849e+02,
       -4.48321308e+01, -8.39649870e+01, -8.71303476e+01,  1.37035683e+02,
        1.61976872e+02, -4.14750542e+01, -1.42059179e+02,  1.13292819e+02,
       -2.10498872e+01,  8.78493335e+01,  1.06452727e+02,  2.59790381e+01,
       -5.11945313e+01, -2.61046373e+01,  3.09249708e+01,  7.26039595e+01,
        2.85658259e+01, -1.28637201e+02, -1.42296759e+01, -1.30439029e+01,
       -1.27164338e+02,  1.63554082e+02, -1.13400174e+01, -1.34506241e+02,
        2.07103405e+02,  4.89044204e+01,  9.36345414e+01,  3.08207238e+01,
        2.07588012e+02, -3.86021805e+01, -3.12887256e+01, -4.13365260e+01,
        5.22199563e+01, -6.28778061e+01,  9.34791757e+01, -8.53143766e+01,
       -9.49000181e+01, -2.40187085e+01, -9.05113287e+01, -2.40960363e+01,
        6.09758987e+01, -3.24916027e+01, -7.36394128e+01, -1.80196283e+02,
       -1.62845481e+02,  4.01224748e+01,  8.38262782e+01,  3.03699927e+02,
        1.29518855e+02,  1.30975141e+02,  5.30612180e+01, -2.13279224e+01,
        1.84727986e+02, -5.99649259e+01,  1.29540111e+02,  1.52247755e+02,
       -3.34436092e+01, -2.03430682e+02, -9.86247933e+01,  4.35118275e+00,
       -4.57154086e+01, -3.76272189e+01,  1.57733797e+02,  1.34327555e+02,
        2.60345249e+01, -8.92509135e+01,  1.87743529e+02, -6.42349313e+01,
        6.68556791e+01,  8.04537870e+01,  9.94555142e+01, -1.06019435e+02,
        1.13624032e+02, -3.51179252e+01,  8.88579734e+01, -8.22499603e+01,
       -2.02480024e+02,  1.57550244e+02, -9.33743649e+01,  6.55935083e+01,
        1.25279233e+02,  3.11855462e+01, -1.75199085e+02, -3.42745549e+01,
       -4.88440539e+01, -1.17641223e+02,  1.05292830e+01, -8.74449774e+01,
       -3.81019060e+01, -1.63898309e+02, -2.20303765e+02,  5.34248981e+00,
       -2.06146536e+02,  1.85943652e+02, -8.82751214e+00,  1.93593531e+01,
        3.27144481e+01,  2.41899855e+02, -2.70021340e+01,  1.35220642e+02,
        5.74633654e+01,  9.83733906e+00, -8.74104010e+01, -9.77027341e+00,
        2.22461977e+02, -1.48784107e+01, -1.36465494e+02, -5.13794259e+01,
       -9.27662505e+01,  8.27772033e+00, -1.55899144e+01, -6.43211296e+01,
       -1.56376547e+01, -1.72383815e+02, -1.22997341e+02,  4.43700676e+01,
       -3.59604057e+01, -1.58183130e+02,  8.63801098e+01, -4.08714277e-02,
        1.34035305e+02, -4.67934777e+01,  3.93416914e+00,  1.74402983e+02,
        1.71632929e+02,  4.58916179e+01, -2.64576943e+01,  6.02937494e+01,
        1.12379323e+02, -3.67279489e+01, -6.92289004e+01, -8.25561275e+01,
       -1.86486802e+02,  1.26108170e+02,  6.42137257e+01,  5.71661053e+01])

In [111]:
sub = pd.DataFrame(prediction)
sub.head()

            0
0  116.252844
1  117.826744
2  -21.714450
3  -45.252500
4  -95.565096

In [113]:
sub.to_csv('SampleOut.csv',index = True)